In [6]:
import random
!pip install ipeadatapy
!pip install yfinance
import ipeadatapy
from datetime import datetime
import pandas_datareader.data as web
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
import ipywidgets as widgets
from ipywidgets import interact, fixed, IntSlider, interact_manual, interactive, Checkbox
from __future__ import print_function
import ipywidgets as widgets
import yfinance as yf

Requirement already satisfied: ipeadatapy in /usr/local/lib/python3.7/dist-packages (0.1.7)
Requirement already satisfied: yfinance in /usr/local/lib/python3.7/dist-packages (0.1.59)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)

In [46]:
class financeiro:
  
  def __init__(self, nome):
    self.nome = nome

  def serie(self):
    ggh = yf.Ticker(self.nome+'.SA')
    ghg = ggh.history(period="max")
    hgg = pd.DataFrame(ghg['Close'])
   
    hgg.columns = [self.nome]
   
    hgg['data'] = hgg.index
    hgg = hgg.reset_index(drop=True)
    hgg['data'] = pd.to_datetime(hgg['data'], format = '%Y/%m/%d')
    hgg['data'] = hgg.data.dt.strftime("%d/%m/%Y")
    hgg = hgg.set_index('data')
    
    display(hgg)

financeiro('ABEV3').serie()

                ABEV3
data
05/01/2000   0.334178
06/01/2000   0.317238
07/01/2000   0.317238
10/01/2000   0.317238
11/01/2000   0.317238
...               ...
18/06/2021  18.760000
21/06/2021  18.730000
22/06/2021  18.290001
23/06/2021  17.990000
24/06/2021  17.950001

[5393 rows x 1 columns]

In [47]:
class economico:
  
  def __init__(self, nome):
    self.nome = nome

  def serie(self):
    ppq = dd.get(self.nome)
    pqp = f"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{ppq}/dados?formato=json"
    qpp = pd.read_json(pqp)     
    qpp['valor'] = qpp['valor'].replace(r'^\s*$', np.nan, regex=True).astype(float)
    qpp['data'] = pd.to_datetime(qpp['data'], format = '%d/%m/%Y')
    qpp['data'] = qpp.data.dt.strftime("%d/%m/%Y")
    qpp.columns = ['data',self.nome]
    qpp = qpp.set_index('data')
    display(qpp)

  
economico("IPCA - Housing").serie()

            IPCA - Housing
data
01/01/1991           25.16
01/02/1991           31.32
01/03/1991           49.57
01/04/1991            1.05
01/05/1991            7.37
...                    ...
01/01/2021           -1.07
01/02/2021            0.40
01/03/2021            0.81
01/04/2021            0.22
01/05/2021            1.78

[364 rows x 1 columns]

In [20]:
xxxy = "ABEV3 ASAI3 AZUL4 BTOW3 B3SA3 BIDI11 BBSE3 BRML3 BBDC3 BBDC4 BRAP4 BBAS3 BRKM5 BRFS3 BPAC11 CRFB3 CCRO3 CMIG4 HGTX3 CIEL3 COGN3 CPLE6 CSAN3 CPFE3 CVCB3 CYRE3 ECOR3 ELET3 ELET6 EMBR3 ENBR3 ENGI11 ENEV3 EGIE3 EQTL3 EZTC3 FLRY3 GGBR4 GOAU4 GOLL4 NTCO3 HAPV3 HYPE3 IGTA3 GNDI3 IRBR3 ITSA4 ITUB4 JBSS3 JHSF3 KLBN11 RENT3 LCAM3 LWSA3 LAME4 LREN3 MGLU3 MRFG3 BEEF3 MRVE3 MULT3 PCAR3 PETR3 PETR4 BRDT3 PRIO3 QUAL3 RADL3 RAIL3 SBSP3 SANB11 CSNA3 SULA11 SUZB3 TAEE11 VIVT3 TIMS3 TOTS3 UGPA3 USIM5 VALE3 VVAR3 WEGE3 YDUQ3"
xxyx = xxxy.split(" ")
xyxx = [i + '.SA' for i in xxyx]
yxxx = pd.DataFrame()
yxxx['data'] = np.nan
yxxx = yxxx.set_index('data')

for i in range(0,len(xyxx)):
    
  xxyy = yf.Ticker(xyxx[i])
  yyxx = xxyy.history(period="max")
  xyyx = pd.DataFrame(yyxx['Close'])
  xyyx.columns = [xyxx[i]]
  xyyx['data'] = xyyx.index
  xyyx['data'] = pd.to_datetime(xyyx['data'], format = '%Y/%m/%d')
  yxxx = pd.merge(yxxx,xyyx, on='data', how='outer').sort_values(by='data').drop_duplicates(subset='data').set_index('data')
  

display(yxxx)

             ABEV3.SA   ASAI3.SA   AZUL4.SA  ...   VVAR3.SA   WEGE3.SA   YDUQ3.SA
data                                         ...
2000-01-03        NaN        NaN        NaN  ...   0.996682   0.126868        NaN
2000-01-04        NaN        NaN        NaN  ...   0.996682   0.122416        NaN
2000-01-05   0.334178        NaN        NaN  ...   0.996682   0.122416        NaN
2000-01-06   0.317238        NaN        NaN  ...   0.996682   0.111287        NaN
2000-01-07   0.317238        NaN        NaN  ...   0.996682   0.111287        NaN
...               ...        ...        ...  ...        ...        ...        ...
2021-06-18  18.760000  85.010002  46.820000  ...  15.170000  35.189999  34.470001
2021-06-21  18.730000  86.459999  48.290001  ...  15.750000  35.250000  34.980000
2021-06-22  18.290001  86.400002  47.430000  ...  15.930000  34.290001  34.570000
2021-06-23  17.990000  86.000000  47.500000  ...  15.800000  33.950001  35.400002
2021-06-24  17.840000  86.930000  46.889999  ...  15.860000  34.209999  35.439999

[5400 rows x 84 columns]

In [16]:
d = {1207: 'pib precos correntes',
1211: 'pib deflator',
4385: 'pib usd',
25263: 'Registered Employees Index - Education',
26941: 'Credit operations outstanding of individuals registered as MEI',
26483: 'Interest rate by source of funds and type - microenterprise - earmarked credit - Housing financing - mortgage',
26489: 'Interest rate by source of funds and type - microenterprise - earmarked credit - Microcredit',
26463: 'Interest rate by source of funds and type - microenterprise - earmarked credit - Discount of credit card bills',
1788: 'Monetary base (end-of-period balance)',
24351: 'Capacity utilization – manufacturing industry',
7355: 'Own electric charge (1992=100) - São Paulo',
24348: 'Hours worked in production – manufacturing industry',
1344: 'General (capacidade industrial) (FGV)',
24352: 'Capacity utilization – manufacturing industry (FGV)',
1365: 'Food products capacity- 1365',
1345: 'Consumer goods capacity',
1373: 'Vehicles production (total)',
1389: 'Crude oil production',
1402: 'Brazil - energy consumption commercial',
1403: 'Brazil - energy consumption residential',	
1404: 'Brazil - energy consumption industrial',
7357: 'Steel production',
4393: 'Consumer confidence index',
10777: 'Brasil (weekly) unemployment',
433: 'Broad National Consumer Price Index (IPCA)',
1636: 'IPCA - Housing',
7469: 'IPC-Fipe - Housing',
21340: 'Residential Real Estate Collateral Value Index',
27816: 'Non-residents assets (end-of-period balance)',
27783: 'Currency outside banks (daily balance) - New',
24021: 'Assets - Portfolio investment - Debt securities - Banks, except the central bank - Short-term - Position',
24017: 'Assets - Portfolio investment - Equity and investment fund shares - Banks, except the central bank - Position',
24045: 'Liabilities - Portfolio investment - Equity and investment fund shares - Position',
24055: 'Liabilities - Other investment - Currency and deposits - Banks, except the central bank - Position',
24057: 'Liabilities - Other investment - Loans - Banks, except the central bank - Position',
23461: 'Current account - annual - net',
23623: 'Financial account - annual - net',
23611: 'Capital account - annual - net',
3545: 'International reserves - Total - annual',
3684: 'Gross External Debt	US$ (million)',
3691: 'United States dollar (purchase) - end of period',
3690: 'United States dollar - end of period',
21440: 'I006 - Return on Assets',
21439: 'I007 - Return on Equity',
21905: 'Interest margin',
19882: 'Household debt to income',
20400: 'Household debt without mortgage loans',
3685: 'Net External Debt',
19880: 'Household debt service ratio - Interest - Seasonally adjusted data',
19879: 'Household debt service ratio - Principal - Seasonally adjusted data',
28205: 'Loans from financial system to nonfinancial corporations and households',
28204: 'Total loans to nonfinancial corporations and households',
28206: 'Loans from other financial corporations to nonfinancial corporations and households',
28852: 'Debt securities - Issued by nonfinancial corporations',
28859: 'Total loans to households',
20622: 'Credit outstanding / GDP',
20623: 'Credit outstanding - Non-financial corporations / GDP',
20624: 'Credit outstanding - Households / GDP',
28868: 'Total credit to households (% of GDP)',
22030: 'Credit outstanding to industrial sector - Building',
27725: 'Credit outstanding to industrial sector - Infraestructure',
27738: 'Credit outstanding to service sector - Real estate activities',
27702: 'Credit by company size - Corporate Company',
27701: 'Credit by company size - Micro, Small and Medium Enterprises (MSME)',
22052: 'Credit outstanding - Private sector - Total',
22050: 'Credit outstanding - Private sector - Individuals',
21082: '90 days past due loans/Credit outstanding - %',
21003: 'Arrears/Credit outstanding - %'}

dd = {v: k for k, v in d.items()}

ddd = list(dict.fromkeys(d))
dddd = list(dict.fromkeys(dd))



# for i in range(0,len(dddd)):

#   ddddd = Checkbox(False, description=dddd[i])
#   display(ddddd)

interactive(children=(Checkbox(value=False, description='i'), Output()), _dom_classes=('widget-interact',))

In [37]:
ccc = pd.merge(aaa,bbb, on='data').sort_values(by='data').set_index('data')

ab = ccc['valor_x'].sum()/len(ccc)
ba = ccc['valor_y'].sum()/len(ccc)

ccc['x-µx'] = ccc['valor_x'] - ab
ccc['y-µy'] = ccc['valor_y'] - ba

ccc['(x-µx)^2'] = ccc['x-µx']**2
ccc['(y-µy)^2'] = ccc['y-µy']**2
ccc['(x-µx)*(y-µy)'] = ccc['x-µx'] * ccc['y-µy']

Sx = (ccc['(x-µx)^2'].sum()/(len(ccc)-1))**0.5
Sy = (ccc['(y-µy)^2'].sum()/(len(ccc)-1))**0.5
Sxy = ccc['(x-µx)*(y-µy)'].sum()/(len(ccc)-1)
Rxy = Sxy / (Sx*Sy)

NameError: ignored

In [49]:
ccb = pd.DataFrame(economico('Household debt to income').serie())
cbc = pd.DataFrame(financeiro('ABEV3').serie())


ccc = pd.concat([cbc,ccb], axis=1)

ab = ccc['valor_x'].sum()/len(ccc)
ba = ccc['valor_y'].sum()/len(ccc)

ccc['x-µx'] = ccc['valor_x'] - ab
ccc['y-µy'] = ccc['valor_y'] - ba

ccc['(x-µx)^2'] = ccc['x-µx']**2
ccc['(y-µy)^2'] = ccc['y-µy']**2
ccc['(x-µx)*(y-µy)'] = ccc['x-µx'] * ccc['y-µy']

Sx = (ccc['(x-µx)^2'].sum()/(len(ccc)-1))**0.5
Sy = (ccc['(y-µy)^2'].sum()/(len(ccc)-1))**0.5
Sxy = ccc['(x-µx)*(y-µy)'].sum()/(len(ccc)-1)
Rxy = Sxy / (Sx*Sy)

            Household debt to income
data
01/01/2005                     19.32
01/02/2005                     19.69
01/03/2005                     20.11
01/04/2005                     20.55
01/05/2005                     20.94
...                              ...
01/10/2020                     53.39
01/11/2020                     54.99
01/12/2020                     56.45
01/01/2021                     57.07
01/02/2021                     57.68

[194 rows x 1 columns]

                ABEV3
data
05/01/2000   0.334178
06/01/2000   0.317238
07/01/2000   0.317238
10/01/2000   0.317238
11/01/2000   0.317238
...               ...
18/06/2021  18.760000
21/06/2021  18.730000
22/06/2021  18.290001
23/06/2021  17.990000
24/06/2021  17.950001

[5393 rows x 1 columns]

KeyError: ignored

In [56]:
ccb = pd.DataFrame(economico('Household debt to income').serie())
cbc = pd.DataFrame(financeiro('ABEV3').serie())


ccc = ccb.join(cbc,how='outer')
display(ccc)

            Household debt to income
data
01/01/2005                     19.32
01/02/2005                     19.69
01/03/2005                     20.11
01/04/2005                     20.55
01/05/2005                     20.94
...                              ...
01/10/2020                     53.39
01/11/2020                     54.99
01/12/2020                     56.45
01/01/2021                     57.07
01/02/2021                     57.68

[194 rows x 1 columns]

                ABEV3
data
05/01/2000   0.334178
06/01/2000   0.317238
07/01/2000   0.317238
10/01/2000   0.317238
11/01/2000   0.317238
...               ...
18/06/2021  18.760000
21/06/2021  18.730000
22/06/2021  18.290001
23/06/2021  17.990000
24/06/2021  17.950001

[5393 rows x 1 columns]

Empty DataFrame
Columns: []
Index: []

In [11]:
ff = []
for i in range(0,10):
  try:
    d = pd.read_json(f"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{i}/dados?formato=json")
  except:
    pass
  else:
    ff += [i]
print(ff)

[1, 3, 4, 5, 7, 8, 9]

In [70]:
a = input('Type code 1')
aa = f"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{a}/dados?formato=json"
aaa = pd.read_json(aa)

aaa['valor'] = aaa['valor'].replace(r'^\s*$', np.nan, regex=True).astype(float)
aaa['data'] = pd.to_datetime(aaa['data'], format = '%d/%m/%Y')


b = input('Type code 2')
bb = f"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{b}/dados?formato=json"
bbb = pd.read_json(bb)

bbb['valor'] = bbb['valor'].replace(r'^\s*$', np.nan, regex=True).astype(float)
bbb['data'] = pd.to_datetime(bbb['data'], format = '%d/%m/%Y')

Type code 17355
Type code 21788

In [ ]:

l = []
for i in range(0,len(ddd)):

  try:
    
    aa = f"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{ddd[i]}/dados?formato=json"
    aaa = pd.read_json(aa)
  
  except:
    pass  
  
  else:

    aaa['valor'] = aaa['valor'].replace(r'^\s*$', np.nan, regex=True).astype(float)
    aaa['data'] = pd.to_datetime(aaa['data'], format = '%d/%m/%Y')

    for i in range(0,len(ddd)):
      
      try:

        bb = f"http://api.bcb.gov.br/dados/serie/bcdata.sgs.{ddd[i]}/dados?formato=json"
        bbb = pd.read_json(bb)

      except:
        pass
    
      else:
        
        bbb['valor'] = bbb['valor'].replace(r'^\s*$', np.nan, regex=True).astype(float)
        bbb['data'] = pd.to_datetime(bbb['data'], format = '%d/%m/%Y')

        ccc = pd.merge(aaa,bbb, on='data').sort_values(by='data').set_index('data')

        ab = ccc['valor_x'].sum()/len(ccc)
        ba = ccc['valor_y'].sum()/len(ccc)

        ccc['x-µx'] = ccc['valor_x'] - ab
        ccc['y-µy'] = ccc['valor_y'] - ba
        ccc['(x-µx)^2'] = ccc['x-µx']**2
        ccc['(y-µy)^2'] = ccc['y-µy']**2
        ccc['(x-µx)*(y-µy)'] = ccc['x-µx'] * ccc['y-µy']

        Sx = (ccc['(x-µx)^2'].sum()/(len(ccc)-1))**0.5
        Sy = (ccc['(y-µy)^2'].sum()/(len(ccc)-1))**0.5
        Sxy = ccc['(x-µx)*(y-µy)'].sum()/(len(ccc)-1)
        Rxy = Sxy / (Sx*Sy)

        l += [Rxy]

print(l)

In [23]:
from IPython.display import display
from ipywidgets import Checkbox


box = Checkbox(False, description='checker')
display(box)

Checkbox(value=False, description='checker')

{'name': '_property_lock', 'old': traitlets.Undefined, 'new': {'value': True}, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': 'value', 'old': False, 'new': True, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {'value': True}, 'new': {}, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {}, 'new': {'value': False}, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': 'value', 'old': True, 'new': False, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {'value': False}, 'new': {}, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {}, 'new': {'value': True}, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': 'value', 'old': False, 'new': True, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {'value': True}, 'new': {}, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {}, 'new': {'value': False}, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': 'value', 'old': True, 'new': False, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {'value': False}, 'new': {}, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {}, 'new': {'value': True}, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': 'value', 'old': False, 'new': True, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {'value': True}, 'new': {}, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {}, 'new': {'value': False}, 'owner': Checkbox(value=True, description='checker'), 'type': 'change'}
{'name': 'value', 'old': True, 'new': False, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}
{'name': '_property_lock', 'old': {'value': False}, 'new': {}, 'owner': Checkbox(value=False, description='checker'), 'type': 'change'}